* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    height: 10000px;
}

.container {
    position: relative;
    margin: 0 25px;
    height: 100%;
}

/* start of main section */

main {
    background-image: url(/images/yogee.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    height: 100vh;
    max-height: 1000px;
    position: relative;
}

main .layer {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #333;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

nav {
    display: flex;
    justify-content: space-between;
}

main nav .logo {
    color: white;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 50px;
}

main nav ul {
    color: black;
    font-size: 1.3rem;
    list-style-type: none;
    overflow: hidden;
    padding: 50px;
}

main li {
    display: inline;
    text-align: right;
    text-emphasis: none;
    padding-right: 50px;
}

main li a,
.logo a {
    text-decoration: none;
    color: white;
    text-align: center;
}

main li:last-child {
    padding-right: 0;
}

main .main-cont {
    margin: 50px; 
    text-align: center;
}

main .img-squ,
.contact .img-squ {
    width: 150px;
    height: 200px;
    margin: auto;
    position: relative;
}

main #border-left,
.edu #border-left,
.contact #border-left {
    position: absolute;
    bottom: 0;
    left: 0;
    border-left: 2px solid #ccc;
    top: 20%;
    border-width: 0.2em;
    font-size: 15px;
}
main #border-right,
.edu #border-right,
.contact #border-right {
    position: absolute;
    top: 0;
    right: 0;
    border-right: 2px solid #ccc;
    bottom: 20%;
    border-width: 0.2em;
    font-size: 15px;
}
main #border-top,
.edu #border-top,
.contact #border-top {
    position: absolute;
    top: 0;
    right: 0;
    border-top: 2px solid #ccc;
    left: 50%;
    border-width: 0.2em;
    font-size: 15px;
}
main #border-bottom,
.edu #border-bottom,
.contact #border-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 2px solid #ccc;
    right: 50%;
    border-width: 0.2em;
    font-size: 15px;
}

main .img-squ img,
.contact .img-squ img {
    width: 100%;
    height: 100%;
    padding: 0.3em;
}

main .title {
    margin: 25px 0;
}

main .title h2 {
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
    margin-bottom: 10px;
}

main .title h4 {
    color: #ccc;
}

main .btn,
.contact .btn {
    padding: 0.5em 3em;
    background-color: transparent;
    border: 2px solid white;
    margin-right: 2em;
    text-transform: uppercase;
    color: white;
}

/*  end of main section */

/* start of edu section */

.edu {
    padding: 6rem 0;
}

.edu .container {
    margin: 0 50px;
}

.edu .edu-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    text-align: center;
}

.edu .deg-icon,
.edu .cert-icon {
    color: #ccc;
    font-size: 3em;
    margin: 20px auto;
    padding: 30px;
    position: relative;
    width: fit-content;
}

.edu h2 {
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
}

.edu h4 {
    font-size: 1.3rem;
}

.edu p {
    margin-top: 1.5em;
}

/* end of edu section */

/* start of skills section */

.skills {
    background: url(/images/133.jpg) center fixed;
    /* padding: 100px 0; */
}

.skills .cont-skill {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}

.skills .cont-skill .technique {
    width: 400px;
    margin-top: 50px;
}

.skills .cont-skill h3 {
    color: white;
}

.skills .cont-skill .technique div {
    background-color: #ccc;
    height: 20px;
}

.skills .cont-skill div span {
    background-color: orange;
    height: 100%;
    display: block;
    margin-top: 5px;
}


/* end of skills section */

/* start of projects section */

.projects {
    background-color: #ccc;
}

.projects .proj-cont {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 100px;
}

.projects .proj-cont .proj {
    width: 300px;
    height: 300px;
    margin: 30px 0;
    background: center;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.projects .proj a {
    width: 100%;
    height: 100%;
    display: block;
}

.projects .proj .proj-card {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    background-color: white;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.projects .proj-card h2 {
    margin-bottom: 10px;
}

/* end of projects section */

/* start of contact section */

.contact {
    background-color: khaki;
    width: 100%;
    height: 1000px;
}

.contact .cont-contact {
    background-color: lightcoral;
    display: flex;
    justify-content: space-evenly;
}

.contact .info {
    background-color: lightgreen;
    color: white;

}

.contact .info .info-me {
    display: flex;
}

.info-name {
    margin: auto 25px;
}

.contact .add {
    margin: 20px 0;
}

.contact .add div {
    margin-top: 20px;
    font-size: 1.2rem;
}

.contact .add p {
    display: inline-block;
    margin-left: 20px;
}

.contact .btn {
    margin: 20px auto;
    display: block;
}

.contact .send-mail {
    background-color: lightskyblue;
    width: 300px;
}



/* end of contact section */